
.dropdown-menu li {
  text-indent: 10px;
  padding: 10px, 10px, 10px, 10px;
}

ul
{
    list-style-type: none;
    padding: 0px;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.area {
  fill: steelblue;
  fill-opacity: 0.4;
  stroke: steelblue;
  stroke-width: 0px;
}

.overlay {
  fill: none;
  pointer-events: all;
}

.focus circle {
  fill: none;
  stroke: steelblue;
}
